@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

@font-face{
    font-family: 'FontLogo';
    src: url("../_fonts/bubblegum-sans-regular.otf");
}

body {
    background-color: #dddddd;
    color: rgba(0,0,0,1);
}

div#interface{
    width: 900px;
    background-color:white ;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5); /*sombra a borda da interface*/
    padding: 10px; /*margem do conteudo interno da interface*/
}

p {
    text-align: justify;
    text-indent: 50px;
}

section#seccab{ /*section criada para corrigir o problema de flutuação do icone*/
    position: absolute;
    display: block;
    float: right;
    top: 80px;
}

header#cabecalho img#icone{ /*posicionando o icone*/
    position: absolute;
    left: 700px;
}

header#cabecalho {
    border-bottom: 1px #606060 solid;  /*cri a linha do cabeçalho*/
    height: 150px;
    background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 80px;   
}

header#cabecalho h1 { /*editando o titulo do cabeçalho*/
    font-family: 'FontLogo', sans-serif;
    font-size: 30pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
    padding: 0px;
    margin-bottom: 0px;
}

header#cabecalho h2 { /*editando o subtitulo do cabeçalho*/
    font-family: 'Titillium Web', sans-serif;
    font-size: 15pt;
    color: #888888;
    padding: 0px;
    margin-top: 0px;
}

/*Formatação de imagens com legendas*/

div#ft1{ /*Div criada para correção da borda da foto do projeto inicial*/
    width: 400px;    
}

figure.foto-legenda {
    position: relative; /*da uma posição relativa a imagem dentro do html*/
    border: 8px solid white; /*cria a borda*/
    box-shadow: 1px 1px 4px black; /*adiciona sombra a borda*/
}

figure.foto-legenda { /*faz com que a imagem ocupe 100% da borda*/
    width: 100%;    
    height: 100%;
}

figure.foto-legenda figcaption {
    opacity: 0; /*Faz com que a imagem fique transparente*/
    position: absolute; /*faz com que ele tenha uma posição absuluta relacionado a imagem (seu pai)*/
    top: 0px; /*adiciona ela ao topo da area delimitada*/
    background-color: rgba(0,0,0,.4);
    color: white;
    width: 100%; /*para que a legenda ocupe 100% d borda*/
    height: 100%;
    padding: 10px; /*pequena distancia entre as margens*/
    box-sizing: border-box; /*Cria um box dentro da borda*/
    transition: opacity 1s; /*faz com que o evento tenha o delay de 1 seg*/
}

figure.foto-legenda:hover figcaption { /*cria um evento ao passar o mouse sobre a imagem*/
    opacity: 1; /*faz com que a legenda volte a ser visivel.*/
}

/*Formatação do Menu*/

section#secmen{ /*section criada para corrigir o problema de flutuação do menu*/
    width: 900px;
    position: absolute;
    top: -20px;
    right: auto;
    left: auto;
}

nav#menu{
    display: block; /*tranforma o menu em um blooo*/
}

nav#menu ul{
    list-style: none; /*tira os pontos da lista*/
    text-transform: uppercase; /*faz com que as letras passem para maisculo*/
    position: absolute; /*determina uma posição absoluta*/
    top: 0px;
    left: 270px; /*essa medida é compara a section do menu e não mais a interface*/
}

nav#menu li{
    display: inline-block; /*deixa todos os itens na mesma linha*/
    background-color: #dddddd;
    padding: 10px; /*aumentando o tamanho do espaco dentro do objeto*/
    margin: 2px; /*espaçamento entre os botões*/
    transition: background-color 0.5s; /*tempo de transição do efeito hover*/
}

nav#menu li:hover{ /*efeito ao passar o mouse por cima*/
    background-color: #606060;
}


nav#menu h1 {
    display: none; /*escondendo o menu principal*/
}

nav#menu a {
    color: black;
    text-decoration: none; /*tira os efeitos sobre o texto. Ex: sublinhado*/
}

nav#menu a:hover { /*efeito ao passar o mouse por cima*/
    color: white;
    text-decoration: underline; /*adiciona o efeito de sublinhar*/
}

section#corpo{
    display: block; /*faz com que a sessão seja mostrada em bloco*/
    width: 500px;
    float: left; /*faz com que a sessão fique ao lado esquerdo*/
    border-right: 1px solid #606060; /*borda a direta da sessão*/
    padding-right: 15px;
}

article#noticia-principal h2 {
    font-size: 12pt;
    color: #606060;
    background-color: #dddddd;
    padding: 5px 5px 5px 10px;
    margin: 10px 0px 10px 0px;
}

table#tabelaespec{ /*formaando a tabela*/
    border: 1px solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto

}

table#tabelaespec td{ /*formatando as cedulas da tabela*/
    border: 1px solid #606060;
    padding: 10px;
    vertical-align: middle;
}

table#tabelaespec td.ce {
    color: #ffffff;
    background-color: #606060;
    vertical-align: top;
    font-weight: bold;
    text-align: center;
    
}

table#tabelaespec td.ci {
    background-color: #cecece;
}

table#tabelaespec caption {
    color: #888888;
    font-size: 13pt;
    font-weight: bolder;
}

table#tabelaespec caption span {
    display: block;
    float: right;
    color: #000000;
    font-size: 8pt;
    font-weight: bolder;
    margin-top: 10px;
}

aside#lateral{
    display: block; /*faz com que a lateral seja mostrada em bloco*/
    width: 350px;
    float: right;  /*faz com que a lateral fique ao lado direito*/
}

footer#rodape {
    clear: both; /*faz com que o rodape seja mostrado fora da divisao*/
    border-top: 1px solid #606060; /*borda ao topo do rodapé*/
}

footer#rodape p {
    text-align: center;
}